.banSlider{
    position: relative;
    background-image: url("../../assets/fastfurio.png");
    width: 100%;
    height: 655px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banSlider::after {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: rgba(0, 0, 0, 0.5); /* 0.5 = şəffaflıq dərəcəsi */
  z-index: 1;
}

/* Əgər banSlider içində yazı və ya content olacaqsa */
.banSlider > * {
  position: relative;
  z-index: 2; /* overlay-in üstündə olsun */
  color: #fff;
}
