@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=BBH+Hegarty&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar track (arka hissə) */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Scrollbar thumb (tutan hissə) */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Hover olanda */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

header {
  background-color: black;
  padding: 20px 0;
}
header img {
  width: 37%;
}
header .header-row {
  justify-content: center;
  align-items: center;
}
header span {
  color: #fff;
  margin: 0 25px;
  line-height: 1.5rem;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
}
header .customer {
  width: 10%;
  border-radius: 100%;
  object-fit: cover;
}
header .pieceboxright {
  display: flex;
  justify-content: flex-end;
}
header button {
  padding: 5px;
  width: 100px;
  border-color: transparent;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffd81c;
  background-color: #ffd81c33;
}
header .leftbox {
  display: flex;
  align-items: center;
}
